.git
.github
.husky
.claude
.ai
node_modules
vendor
public/build
public/hot
public/storage
public/js
public/css
public/fonts
storage/*.key
storage/app/**
!storage/app/.gitignore
storage/framework/cache/**
!storage/framework/cache/.gitignore
storage/framework/sessions/**
!storage/framework/sessions/.gitignore
storage/framework/testing/**
!storage/framework/testing/.gitignore
storage/framework/views/**
!storage/framework/views/.gitignore
storage/logs/*.log
storage/debugbar
database/database.sqlite
bootstrap/cache/*.php
.env
.env.testing
.env.backup
.env.production
*.log
docs
tests
